*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}
#navbar{
    background-color: hsl(0, 0%, 96%);
    border-radius: 10px;
}
#btns li:hover{
    background: hsl(0, 4%, 90%);
}
#btns li:active{
    background: hsl(0, 0%, 85%);
}
#btn:hover{
    background: hsl(0, 4%, 90%);;
}
#btn:active{
    background: hsl(0, 0%, 85%);;
}